name: Android CI

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  build:
    name: Build & Quality
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: gradle

      - name: Grant execute permissions for gradlew
        run: chmod +x ./gradlew

      - name: Run Pre-PR Checks
        run: ./gradlew prePRCheck --stacktrace

      - name: Publish Jacoco HTML Coverage Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-coverage
          path: build/reports/jacoco/jacocoMergeReport/html/
